{% extends "base.html" %}

{% block title %}Dashboard - Habitta{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Card Nº Estabelecimentos Residencial -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nº Estabelecimentos Residencial</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                total_estabelecimentos_residencial }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-home fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Nº Estabelecimentos Comercial -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Nº Estabelecimentos Comercial</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                total_estabelecimentos_comercial }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-store fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Nº Clientes -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Nº Clientes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_clientes }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-spin-pulse fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Nº Clientes sem ofertas -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Nº Clientes sem ofertas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                total_clientes_sem_ofertas }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-slash fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->


        <!-- Pie Chart -->

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->

            <!-- Color System -->

        </div>

        <div class="col-lg-6 mb-4">

        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<!-- Scripts específicos do dashboard -->
<script src="{{ url_for('static', filename='assets/js/pages/dashboard.js') }}"></script>
{% endblock %}